.buttonstyle:hover {
  /* background-color: #fdf202; */
  border-color: #181818;
  box-shadow: 5px 5px 0 0 #282828;
  color: #181818;
  text-decoration: none;
  text-align: center;
}

.buttonstyle {
  border-radius: 769rem 769rem 769rem 769rem;
  border: dotted #181818;
  border-width: 3px 3px 3px 3px;
  padding: 15px 20px 15px 20px;
  transition: all 200ms linear 0s;
  text-align: center;
  /* background-color: #fdf202; */
}
.buttonstyle a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}
.pink {
  background-color: #ffa3c7;
}
.pink:hover {
  background-color: #ffa3c7;
}

.yellow {
  background-color: #fdf202;
}
.yellow:hover {
  background-color: #fdf202;
}
