main {
  background-color: bisque;
  padding: 100px;
}

footer {
  background-color: rgb(251, 218, 177);
}

h1,
h2 {
  font-family: "feneon-dense", sans-serif;
  font-weight: 300;
  font-style: normal;
}

input {
  border: 1px black solid;
}
