:root {
  --h1Title: clamp(2.5rem, 2.0652rem + 2.1739vi, 3.75rem);
  --color-blue: #5e7af5;
  --color-black: black;
  --color-white: white;
  --color-black18: #181818;
  --color-black28: #282828;
  --color-blue-hover: #3458f9;
  --color-yellow: #fdf202;
  --color-light-purple: #b6b8f7;
  --color-pink: #ffa3c7;
  --color-button-hover: #ffffff83;
  --color-link-hover: azure;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
  background: radial-gradient(circle at center top, #ffe401, #aff76d, #9fdede, #b6bcf7, #b6b8f7);
  animation: moveGradient 15s ease-in-out infinite;
  background-size: 200% 200%;
  min-height: 100vh;
}

@keyframes moveGradient {
  0% {
    background-position: 25% 30%;
  }
  50% {
    background-position: 50% 80%;
  }
  100% {
    background-position: 25% 30%;
  }
}

main {
  padding: 20px;
  margin: 20px auto;
  width: 100%;
  max-width: 1200px;
}

h1 {
  font-size: var(--h1Title);
  font-family: "feneon-dense", sans-serif;
}

h2 {
  font-family: "feneon-dense", sans-serif;
  font-weight: 300;
  font-style: normal;
}
h3 {
  font-family: "libre baskerville";
}

input {
  border: 1px black solid;
}

.globalHeader {
  font-size: clamp(3.75rem, 2.8804rem + 4.3478vi, 6.25rem);
  font-weight: 200;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

/***** scroll *******/

.importantstyle {
  display: block !important;
  background-color: #fdf202 !important;
  border-radius: 50% !important;
  padding: 5px !important;
}
@media (width> 600px) {
  .importantstyle {
    display: none !important;
  }
}
