:root {
  --h1Title: clamp(2.5rem, 2.0652rem + 2.1739vi, 3.75rem);
}

body {
  padding: 0;
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
  background: radial-gradient(
    circle at center top,
    #ffe401,
    #aff76d,
    #9fdede,
    #b6bcf7,
    #b6b8f7
  );
  animation: moveGradient 15s ease-in-out infinite;
  background-size: 200% 200%;
}

@keyframes moveGradient {
  0% {
    background-position: 25% 30%;
  }
  50% {
    background-position: 50% 80%;
  }
  100% {
    background-position: 25% 30%;
  }
}

main {
  padding: 200px;
  min-height: 100vh;
  box-sizing: border-box;
}

footer {
}

h1,
h2 {
  font-family: "feneon-dense", sans-serif;
  font-weight: 300;
  font-style: normal;
}
h3 {
  font-family: "libre baskerville";
}

input {
  border: 1px black solid;
}
