:root {
  --h1Title: clamp(2.5rem, 2.0652rem + 2.1739vi, 3.75rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
  background: radial-gradient(circle at center top, #f7ef1f, #bcfbbd, #99e8e4, #99e8e4);
  animation: moveGradient 15s ease-in-out infinite;
  background-size: 200% 200%;
  min-height: 100vh;
}

@keyframes moveGradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}

main {
  padding: 20px;
  margin: 20px auto;
  width: 100%;
  max-width: 1200px;
}

footer {
}

h1,
h2 {
  font-family: "feneon-dense", sans-serif;
  font-weight: 300;
  font-style: normal;
}
h3 {
  font-family: "libre baskerville";
}

input {
  border: 1px black solid;
}
