.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.headermenu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.headermenu a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
.nav img {
  width: 100px;
  inline-size: none;
}
