.indexWrap {
  width: 100%;
  min-height: 80vh;
  padding: 100px 1rem;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  gap: 4rem;
}

.indexTitles {
  display: flex;
  word-break: break-word;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.indexButWrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 400px;
  gap: 2.5rem 1rem;
}

.indexTagline {
  display: flex;
  word-break: break-word;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.indexHeaderTitle {
  font-size: clamp(3.125rem, 1.4358rem + 5.4054vi, 5.625rem);
}
.indexSubTitle {
  font-size: clamp(1.25rem, 1.0326rem + 1.087vi, 1.875rem);
  line-height: normal;
}

.address {
  margin-top: -15px;
}
