.gridwrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.hidden {
  opacity: 0;
}
.areas {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.new_times {
  gap: 20px;
  align-items: center;
  padding: 12px;
}
.new_times_title {
  font-size: clamp(0.9375rem, 0.7636rem + 0.8696vi, 1.4375rem);
}
.title {
  font-size: clamp(2.5rem, 2.0652rem + 2.1739vi, 3.75rem);
  text-align: center;
  padding: 20px;
}
