.bandWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bandName {
  display: flex;
  justify-content: center;
  text-align: center;
}

.infoWrapper {
  display: flex;
  flex-direction: row;
}

.bandMembers {
}

.bandGenre {
}

.bandBio {
}

.bandImage {
  max-width: 500px;
  margin: 0;
  overflow: hidden;
  color: var(--white);
}
