.bandWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bandName {
  display: flex;
  justify-content: center;
  text-align: center;
}

.infoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  max-width: 100%;
  width: 100%;
  padding: 0 20px;
}

.dataWrapper {
  padding: 5px 15px;
  background-color: #5e7af5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.bandBio {
  padding: 0 20px;
  margin: 0;
  text-align: left;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.bandHype {
  padding: 20px;
  text-align: left;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.bandImage {
  max-width: 500px;
  width: 100%;
  height: auto;
  margin: 0;
  overflow: hidden;
  color: var(--white);
}

.randomBandsSection {
  margin: 5rem 0;
  overflow: auto;
}

.randomBandsHeader {
  display: flex;
  justify-content: center;
  font-size: clamp(2.5rem, 1.7391rem + 3.8043vi, 4.6875rem);
  white-space: nowrap;
}

.randomBandsSubH {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  white-space: nowrap;
}

.randomBandsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 2rem 0;
}

.bandLink {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.randomBandImage {
  width: 100%;
  height: auto;
  max-height: 190px;
  object-fit: cover;
}
/****** Mobile *******/
@media (width < 600px) {
  .randomBandsWrapper,
  .bandWrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .bandWrapper .bandImage {
    order: -1;
  }

  .randomBandsHeader {
    white-space: unset;
    text-align: center;
  }
  .infoWrapper {
    display: grid;
    gap: 1rem;
  }

  .bandBio,
  .bandHype {
    padding: 15px 0 15px 0;
  }
}
