.generalWrapper {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  border: 3px rgb(102, 102, 252) solid;
  max-width: 24rem;
  background-color: aliceblue;
  padding: 10%;
}

.mainSections {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 8rem;
}

.eachSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
