.billingwrapper {
  display: flex;
  flex-direction: column;
}

.billingGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.infoGrid {
  display: flex;
  flex-direction: column;
}

.cardGrid {
}
