/* Ticketsbox styling */
.ticketLine {
  display: flex;
  justify-content: space-between;
  line-height: 1.5rem;
}
.miunsPlusButton {
  border: 1px solid #5e7af5;
  border-radius: 50%;
  padding: 0 0.45em;
}
.plusMinusCollected {
  display: flex;
  gap: 0.5rem;
}

.greenCamping {
  display: inline;
  margin: 2rem 0 1rem;
}
.checkBox {
  margin-top: 2rem;
  margin-right: 1.75rem;
}
