/*Overall styling og booking-site*/

/*Booking main styling (bagground box) and section layout*/
.bookingMain {
  max-width: fit-content;
  border: 1px solid #5e7af5;
  border-radius: 0.6rem;
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  max-width: 1200px;
  background-color: rgb(226, 239, 251);
  margin: 1rem;
}
.desktopWrapper,
.tabletWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0 auto;
  gap: 2rem;
  margin: 5rem 7rem;
}
.mobileWrapper {
  display: flex;
  flex-direction: column;
}
.sectionWrapperDesktop,
.sectionWrapperTablet {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #5e7af5;
  padding: 1rem 1.7rem 1rem 1.7rem;
  min-height: 450px;
  max-height: 450px;
  min-width: 410px;
  overflow-y: auto;
}
.sectionWrapperMobile {
  min-height: 350px;
  max-height: 350px;
  min-width: 310px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #5e7af5;
  padding: 1rem 1.7rem 1rem 1.7rem;
  overflow-y: auto;
}

/*Breadcrumb*/
.breadCrumbsWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: 1rem;
  list-style: none;
}
.breadCrumbsMobile {
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  list-style: none;
}
/*Basket Styling*/

.sectionBasketMobile {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #5e7af5;
  padding: 1rem 1.7rem 1rem 1.7rem;
  background: rgba(191, 202, 251, 0.5);
  .feeTickets,
  .feeTents {
    background: transparent;
  }
}

.hideInMobile {
  display: none;
}
.basketContent {
  min-width: 250px;
}
.basketTitle {
  font-size: var(--h1Title);
  font-family: "feneon-dense", sans-serif;
}
.hrColor {
  color: #5e7af5;
}
.basketSubtitle {
  font-family: "Libre Franklin";
  text-transform: uppercase;
  margin-top: -2rem;
  margin-bottom: 1rem;
}
.feeFixed {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-top: -1rem;
}
.feeTickets {
  background: rgba(191, 202, 251, 0.5);
  margin: 1rem 0 1rem;
}
.feeTents {
  background: rgba(191, 202, 251, 0.5);
  margin-bottom: 1rem;
}
.feeTotal {
  font-weight: bold;
  font-size: 1.8rem;
  font-family: "Libre Franklin";
  text-transform: uppercase;
}
