.bookingMain {
  max-width: fit-content;
  border: 3px rgb(102, 102, 252) solid;
  max-width: 1200px;
  background-color: aliceblue;
}

.bookingWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0 auto;
  gap: 2rem;
}

.breadCrumbsWrapper {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.feeWrapper {
  display: flex;
  flex-direction: row;
}

.feeTotal {
  font-weight: bold;
}
